<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>
<body>
    
    <h1><%= kindOfDay %> </h1> 

    <ul>
        <% newListItems.forEach((task) =>{ %>
            <li><%= task %> </li>
        <% }) %> 
    </ul>

    <form action="/" method="post">
        <input type="text" name="newTask" id="" placeholder="Add a task">
        <button type="submit">Submit</button>
    </form>
</body>
</html>